/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  transition: background-color 0.3s ease;
}

input[type="file"] {
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}
